<html lang="nl">

<head>
    <meta charset="utf-8">
    <title>Patiëntenvereniging Manuele Therapie E.S. - {{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"/>
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
    <style>
        html {
            font-family: 'Inter', sans-serif;
        }

        @supports (font-variation-settings: normal) {
            html {
                font-family: 'Inter var', sans-serif;
            }
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <header class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="index.html">
                <!-- Logo -->
                <img src="img/logo.svg" class="w-10 h-10 text-white p-1 bg-pink-500 rounded-full">
                <span class="ml-3 text-xl">PVMT</span>
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-8 hover:text-pink-500" href="index.html">Manuele Therapie E.S.</a>
                <a class="mr-8 hover:text-pink-500" href="therapeuten.html">Zoek Therapeut</a>
                <a class="mr-8 hover:text-pink-500" href="vergoedingen.html">Zorgvergoedingen</a>
                <a class="mr-8 hover:text-pink-500" href="over-ons.html">Over Ons</a>
                <a href="contact.html">
                    <button
                    class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded mt-4 text-base md:mt-0">Contact 👋
                </a>
            </button>

            </nav>
        </div>
    </header>

    <!-- Content -->
    {{ content }}

    <!-- Footer -->
    <footer class="text-gray-700 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="img/logo.svg" class="w-10 h-10 text-white p-1 bg-pink-500 rounded-full">
                <span class="ml-3 text-xl">PVMT</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2021 Patiëntenvereniging Manuele Therapie E.S.
            </p>
            <p class="flex text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 mt-4">
                <a href="privacy.html">Privacy en Disclaimer Statement</a>
            </p>
            <p class="flex text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 mt-4">
                <a href="https://webslice.nl">Subhosted by Webslice</a>
            </p>            
        </div>
    </footer>

    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
</body>

</html>